<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>手机端浏览器调用相机、相册功能</title>
</head>

<body>

  <div>
    <input id="btn_camera" type="file" accept="image/*" multiple />
    <div id="image" style="width:300px; height:200px;"></div>
    <div class="result-wrap">
      <h2>识别结果:</h2>
      <p class="result"></p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <!-- <script type="text/javascript" src="./vconsole.min.js"></script> -->
  <script>
    // var vConsole = new VConsole();
    $(function () {
      $('#btn_camera').on('change', onTake)
      function onTake() {
        var imageBase = "";
        var reader = new FileReader();
        reader.onloadend = function (e) {
          imageBase = e.target.result.replace("data:image/png;base64,", "");
          var url = 'url(' + e.target.result + ') no-repeat center center';
          // console.log(url)
          $("#image").css({
            "background": url,
            "background-size": "contain",
            // "background-attachment": "fixed"
          });
          getTextValue(e.target.result)
        }
        reader.readAsDataURL(event.target.files[0]);
        
        // $(this).value = null;//每次选中图片之后清空file 不然在点击就不能触发点击事件

      }
      function getTextValue(blob) {
        const formData = new FormData();
        formData.append('imgData', blob);
        var $elm = $('.result');
        $elm.html('正在识别,请稍等^-^')
        $.ajax({
          method: 'POST',
          url: '/getText',
          header: { 'Content-Type': 'multipart/form-data' },
          data: formData,
          processData: false,
          contentType: false,
          success: function(res) {
            var str = '';
            for(var i=0; i< res.data.words_result_num; i++) {
              str += (i+1) + ': ' + res.data.words_result[i].words + ';<br/>'
            }
            $('.result').html(str)
            document.querySelector('#btn_camera').files[0] = '';
          }
        })
      }
    })

  </script>
</body>

</html>